@charset "utf-8";
body {
    font: 13px 'Noto Sans KR',sans-serif;
    background-color: #aaa;
}
#wrap {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
}
/* Header */
header {
    background-color: #fa0;
    color: #fff;
    text-align: center;
}
header h1 {
    font-size: 800%;
    font-weight: 700;
}
header h1 span {
    font-size: 20px;
    /* (20/16) */
    font-size: 1.25rem;
    font-weight: 400;
    padding: 4px;
    display: block;
}
header p {
    font-size: 12px;
    /* (12/16) */
    font-size: 0.75rem;
    background-color: #ccc;
    color: #333;
    padding: 5px;
}
header p span {
    color: blue;
    font-weight: 700;
}
/* Contents */
/* Section Area */
/* 플롯해제 */
#container::after {
    content: "";
    display: block;
    clear: both;
}
/* 콘텐츠 내용 1 */
#container .cover {
    width: 600px;
    /* 플롯 */
    float: left;
}
#container .cover .content {
    width: 400px;
    background-color: #ddd;
    color: #123456;
    /* 플롯 */
    float: right;
}
#container .cover .content dt a {
    font: bold 1.3rem 'Noto Sans KR', sans-serif;
    color: #ddd;
    padding: 5px;
    background-color: #123456;
    display: block;
}
/* 인접 형제선택자 */
#container .cover .content dt+dd {
    font-size: 1.2rem;
    font-weight: 700;
}
/* 왼쪽메뉴 1 */
#container .sidemenu {
    width: 200px;
    background-color: #fff;
    /* 플롯 */
    float: left;
}
#container .sidemenu dt {
    font: bold 1.3rem 'Noto Sans KR', sans-serif;
    color: #fff;
    background-color: #900;
}
#container .sidemenu dd a {
    color: #000;
    border-bottom: 1px dashed #000;
}
#container .sidemenu dd a:hover {
    border-bottom: 1px solid #900;
}
/* 오른쪽 콘텐츠 1 */
#container .aside {
    width: 200px;
    /* 플롯 */
    float: right;
}
#container .aside dt {
    font: bold 1.2rem 'Noto Sans KR', sans-serif;
}
#container .aside .all {
    text-decoration: underline;
}
#container .aside .love {
    color: #fa0;
    text-decoration: underline;
}
#container .aside strong {
    color: #333;
}
#container .aside dd a {
    color: #000;
}
#container .aside span {
    display: block;
}

/* Footer */
footer p {
    font: italic 0.75rem 'Noto Sans KR', sans-serif;
    color: #eee;
    padding: 10px;
    background-color: #123456;
    text-align: center;
}
footer p a {
    color: #900;
}

/* 추가 dt, dd */
dt, dd {
    padding: 10px;
}

